body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #1a1a1a;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(0, 0, 0);
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000; /* Чтобы шапка была поверх всего */
}

.logo h1 {
    margin: 0;
    font-size: 1.5rem;
    color: #ffffff;
}

.logo p {
    margin: 0;
    font-size: 1rem;
    color: #666;
}

.cart-icon {
    width: 40px; /* Изменяй размер по желанию */
    height: auto;
}

.cart-button {
    background-color: #aa8110;
    color: white;
    border: none;
    border-radius: 50%; /* Круглая кнопка */
    width: 50px; /* Размер кнопки */
    height: 50px; /* Размер кнопки */
    font-size: 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s;
    position: relative; /* Для позиционирования счетчика */
}

.cart-button:hover {
    transform: scale(1.05);
    background-color: #554005;
}
.smart-basket__min{
    margin-top: -50px;
    margin-left: -25px;
    background-color: rgba(255, 255, 255, 0);
    color: rgb(255, 255, 255);
    border: none;
    width: 50px;
    height: 50px;
    font-size: 0.9rem;
    transition: background-color 0.3s;
    position: absolute;
}
.smart-basket__min-count{
position: absolute;

    margin-top: -19px;
    margin-left: 15px;
}
/* Стили для счетчика */
.cart-count {
    position: absolute; /* Абсолютное позиционирование */
    top: -5px; /* Положение сверху */
    right: -5px; /* Положение справа */
    background-color: red; /* Цвет фона */
    color: white; /* Цвет текста */
    border-radius: 50%; /* Круглая форма */
    width: 20px; /* Ширина */
    height: 20px; /* Высота */
    display: flex; /* Flexbox для центрирования текста */
    align-items: center; /* Центрирование по вертикали */
    justify-content: center; /* Центрирование по горизонтали */
    font-size: 0.8rem; /* Размер шрифта */
}

.hero {
    background-image: url('../images/BG.jpg'); 
    height: 50vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    position: relative;
    transition: transform 0.5s, opacity 0.5s; /* Плавные переходы */
    will-change: transform, opacity;
}

.hero h1 {
    font-size: 3rem;
    text-align: center;
}

/* Контент */
.content {
    padding: 40px;
    text-align: center;

    position: relative;
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: white;
}

.product-card {
    display: inline-block;
    background-color: rgb(212, 212, 212);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    margin: 20px;
    height: 530px;
    transition: transform 0.3s;
}

.product-card:hover {
    transform: scale(1.05);
}

.product-image {
    width: 100%;
    height: auto;
}

.product-card h3 {
    font-size: 1.5rem;
    margin: 15px 0;
}

.product-card p {
    font-size: 1.2rem;
    color: #333;
}

.buy-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 10px; 
    margin-bottom: 20px;
    transition: background-color 0.3s;
}

.buy-button:hover {
    background-color: #218838;
}


.quantity-selector {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0; /* Отступ сверху и снизу */
}

.quantity-button {
    background-color: #28a745; /* Цвет кнопок */
    color: white;
    border: none;
    border-radius: 5px; /* Скругление углов */
    padding: 5px 10px; /* Отступ внутри кнопки */
    font-size: 1rem; /* Размер шрифта */
    cursor: pointer; /* Курсор указателя */
    transition: background-color 0.3s; /* Плавный переход цвета фона */
}

.quantity-button:hover {
    background-color: #218838; /* Темный зеленый при наведении */
}

.quantity-input {
    width: 40px; /* Ширина поля ввода */
    text-align: center; /* Выравнивание текста по центру */
    margin: 0 5px; /* Отступ слева и справа */
    border: 1px solid #ccc; /* Граница поля ввода */
    border-radius: 5px; /* Скругление углов */
}
.product-card h2 {
    font-size: 1.5rem;
    margin-bottom: 00px;
    color: rgb(0, 0, 0);
}

/* Модальное окно (скрыто по умолчанию) */
/* Модальное окно (скрыто по умолчанию) */
.modal {
    display: none;
    position: fixed;
    z-index: 1001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #4b4b4bd8;
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.modal-content {
    position: absolute;
    top: -100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s ease;
    max-width: 600px;
    width: 90%;
    border-radius: 10px; /* Скругление углов */
}

.modal.show {
    display: block;
    opacity: 1;
}

.modal.show .modal-content {
    top: 50%;
    transform: translate(-50%, -50%);
}
.modal-body {
    display: flex;
    align-items: flex-start; /* Вертикальное выравнивание по верхнему краю */
}

.modal-image {
    width: 150px; /* Задайте нужный размер изображения */
    height: 150px; /* Задайте нужный размер изображения */
    margin-right: 20px; /* Отступ между изображением и текстом */
    border-radius: 5px; /* Скругление углов изображения */
}

.modal-details {
    display: flex;
    flex-direction: column; /* Вертикальное расположение текста */
}

.modal-details h2 {
    font-size: 1.5rem; /* Размер шрифта для названия */
    margin-bottom: 5px; /* Отступ снизу */
}

.modal-details p {
    font-size: 1rem; /* Размер шрифта для описания и других данных */
    margin: 5px 0; /* Вертикальные отступы между строками */
}


.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.modal-content h2 {
    color: #1a1a1a;
}
.modal-content h3 {
    color: #1a1a1a;
    position: absolute;
    margin-top: 180px;
    margin-left: -125px;
}
.modal-content h4 {
    color: #584904;
    font-size: 1.5rem;
}


@media (max-width:1030px){
	.product-card {
        display: inline-block;
        background-color: rgb(212, 212, 212);
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        width: 150px;
        margin: 10px;
        height: 330px;
        transition: transform 0.3s;
    }
    h2 {
        font-size: 1.5rem;
        margin-bottom: 20px;
        color: white;
    }
    .product-card h2 {
        font-size: 0.8em;
        margin-bottom: 10px;
        color: rgb(0, 0, 0);
    }
    .product-card p {
        font-size: 1.1em;
        margin-bottom: 00px;
        color: rgb(0, 0, 0);
    }
    .buy-button {
        display: inline-block;
        padding: 10px 20px;
        background-color: #28a745;
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 0.8rem;
        cursor: pointer;
        margin-top: 10px; 
        margin-bottom: 20px;
        max-width: 100px;
        transition: background-color 0.3s;
    }
}