body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #1a1a1a;

}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(0, 0, 0);
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000; /* Чтобы шапка была поверх всего */
    transform: translateY(-100%); /* Скрыт наверху */
    transition: transform 0.5s ease-in-out; /* Плавный переход */
}

.header.show {
    transform: translateY(0); /* Появление заголовка */
}
.logo_header{
    max-width: 150px;
}

.logo h1 {
    margin: 0;
    font-size: 1.5rem;
    color: #ffffff;
}

.logo p {
    margin: 0;
    font-size: 1rem;
    color: #666;
}

.cart-icon {
    width: 40px; /* Изменяй размер по желанию */
    height: auto;
}


.cart-button {
    background-color: #aa8110;
    color: white;
    border: none;
    border-radius: 50%; /* Круглая кнопка */
    width: 50px; /* Размер кнопки */
    height: 50px; /* Размер кнопки */
    font-size: 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s;
    position: relative; /* Для позиционирования счетчика */
}

.cart-button:hover {
    transform: scale(1.05);
    background-color: #554005;
}
.smart-basket__min{
    margin-top: -25px;
    margin-left: -25px;
    background-color: rgba(255, 255, 255, 0);
    color: rgb(255, 255, 255);
    border: none;
    width: 50px;
    height: 50px;
    font-size: 0.9rem;
    transition: background-color 0.3s;
    
    position: absolute;
}
.smart-basket__min-count{
    position: absolute; /* Абсолютное позиционирование */
    background-color: red; /* Цвет фона */
    color: white; /* Цвет текста */
    border-radius: 50%; /* Круглая форма */
    width: 20px; /* Ширина */
    height: 20px; /* Высота */
    display: flex; /* Flexbox для центрирования текста */
    align-items: center; /* Центрирование по вертикали */
    justify-content: center; /* Центрирование по горизонтали */
    font-size: 0.8rem; /* Размер шрифта */

    margin-top: -35px;
    margin-left: 30px;
}

.smart-basket__min-img {
margin-top: 100px;
}

.hero {
    background-image: url('../images/BG.jpg'); 
    height: 50vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    position: relative;
    transition: transform 0.5s, opacity 0.5s; /* Плавные переходы */
    will-change: transform, opacity;
}

.hero h1 {
    font-size: 3rem;
    text-align: center;
}

/* Контент */
.content {
    padding: 40px;
    text-align: center;
    display: flex;              /* Включаем flexbox для контейнера */
    gap: 20px;   
    position: relative;
    max-width: 100%; /* Убедитесь, что контейнеры не превышают ширину экрана */

}

h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: white;
    text-align: center;
}

.filter-buttons {
     
nav-down: 6;
}

.filter-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 10px; 
    margin-bottom: 10px;
    transition: background-color 0.3s;
  transition: background-color 0.3s ease;
}

.filter-btn:hover {
  background-color: #ddd; /* Цвет при наведении */
}

.filter-btn.active {
  background-color: #28a745;
  color: white;
  border-color: #0056b3;
}

.product-card {
  display: none; /* По умолчанию скрываем все товары */
  padding: 15px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
}

#productList {
    display: flex;           /* Используем flexbox для горизонтального выравнивания */
    flex-wrap: wrap;         /* Чтобы товары переносились на новую строку при нехватке места */
    gap: 20px;               /* Расстояние между карточками товаров */
    background-color: #202020;
    border-radius: 25px; /* Круглая форма */
    flex: 0 0 80%;                    /* Список товаров занимает 70% ширины */
    padding: 10px;                    /* Отступы для внутреннего содержимого */
}
.productsearchlist{
    background-color: #202020;
    border-radius: 25px; /* Круглая форма */
    flex: 0 0 17%;   
    gap: 20px;    
    height: inherit;
    padding: 5px;                    /* Отступы для внутреннего содержимого */
}
.productsearchlist2{
    background-color: #202020;
    border-radius: 25px; /* Круглая форма */
    flex: 0 0 17%;   
    gap: 10px;    
    max-height: 250px;                 /* Панель поиска занимает 30% ширины */
    padding: 10px;                    /* Отступы для внутреннего содержимого */
    display: none; /* По умолчанию скрываем все товары */
}
.productsearchlist h2{
    font-size: 1.5rem;
}
.productsearchlist2 h2{
    font-size: 1.5rem;
}
.search-input {
    width: 100%;
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 60px;
    font-size: 15px;
    border-radius: 15px;
    transition: .5s;
    position: relative;
    font-family: 'Exo 2', 'Open Sans', sans-serif;
}

.product-card {
    max-width: 300px;
    max-height: 530px;
    border: 1px solid #ccc;  /* Добавим границу для наглядности */
    padding: 10px;
    border-radius: 5px;
    text-align: center;      /* Центрируем текст внутри карточек */
    box-sizing: border-box;  /* Включаем padding в общую ширину */
}

.product-card {
    display: inline-block;
    background-color: rgb(212, 212, 212);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    margin: 20px;
    height: 530px;
    transition: transform 0.3s;
}

.product-card:hover {
    transform: scale(1.05);
}

.product-image {
    width: 100%;
    height: auto;
}

.product-card h3 {
    font-size: 1.5rem;
    margin: 15px 0;
}

.product-card p {
    font-size: 1.2rem;
    color: #333;
}

.buy-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 10px; 
    margin-bottom: 20px;
    transition: background-color 0.3s;
}

.buy-button:hover {
    background-color: #218838;
}


.quantity-selector {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0; /* Отступ сверху и снизу */
}

.quantity-button {
    background-color: #28a745; /* Цвет кнопок */
    color: white;
    border: none;
    border-radius: 5px; /* Скругление углов */
    padding: 5px 10px; /* Отступ внутри кнопки */
    font-size: 1rem; /* Размер шрифта */
    cursor: pointer; /* Курсор указателя */
    transition: background-color 0.3s; /* Плавный переход цвета фона */
}

.quantity-button:hover {
    background-color: #218838; /* Темный зеленый при наведении */
}

.quantity-input {
    width: 40px; /* Ширина поля ввода */
    text-align: center; /* Выравнивание текста по центру */
    margin: 0 5px; /* Отступ слева и справа */
    border: 1px solid #ccc; /* Граница поля ввода */
    border-radius: 5px; /* Скругление углов */
}
.product-card h2 {
    font-size: 1.5rem;
    margin-bottom: 00px;
    color: rgb(0, 0, 0);
}

/* Модальное окно (скрыто по умолчанию) */
.modal {
    position: fixed;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%) scale(0); /* Начальное состояние */
    transition: transform 0.5s ease; /* Плавный переход */
    opacity: 0; /* Скрыто */
    z-index: 1000; /* На переднем плане */
    background: white; /* Фон модального окна */
    border-radius: 10px; /* Скругление углов */
    padding: 20px; /* Отступы */
}

.modal.show {
    transform: translate(-50%, -50%) scale(1); /* Конечное состояние */
    opacity: 1; /* Показать модальное окно */
}

.modal-content {
    position: absolute;
    top: -100%;
    left: 50%;
    width: 800px;
    height: 400px;
    transform: translateX(-50%);
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s ease;
    border-radius: 10px; /* Скругление углов */
}


.modal-content {
    top: 50%;
    transform: translate(-50%, -50%);
}
.modal-body {
    display: flex;
    align-items: flex-start; /* Вертикальное выравнивание по верхнему краю */
}

.modal-image {
    width: 300px; /* Задайте нужный размер изображения */
    height: 300px; /* Задайте нужный размер изображения */
    margin-right: 20px; /* Отступ между изображением и текстом */
    border-radius: 5px; /* Скругление углов изображения */
}

.modal-details {
    display: flex;
    flex-direction: column; /* Вертикальное расположение текста */
}

.modal-details h2 {
    font-size: 1.5rem; /* Размер шрифта для названия */
    margin-bottom: 5px; /* Отступ снизу */
}

.modal-details p {
    font-size: 1rem; /* Размер шрифта для описания и других данных */
    margin: 5px 0; /* Вертикальные отступы между строками */
}


.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    cursor: pointer;
    background-color: transparent;
    border: none;
}
.modal-back {
    position: absolute;
    width: 4000px;
    height: 4000px;
    top: -2000px;
    right: -2000px;
    font-size: 1.5rem;
    cursor: default;
    background-color: #4b4b4b00;

}
.modal-back.show {
    position: absolute;
    width: 4000px;
    height: 4000px;
    top: -2000px;
    right: -2000px;
    font-size: 1.5rem;
    cursor: pointer;
    background-color: #4b4b4bd8;

}
.modal-content h2 {
    color: #1a1a1a;
    font-size: 2rem;
}

.modal-content h5 {
    color: #1a1a1a;
    font-size: 1rem;
}
.modal-content h3 {
    color: #1a1a1a;
    position: absolute;
    margin-top: 350px;
    margin-left: -230px;
    font-size: 2rem;
}
.modal-content h4 {
    color: #67796c;

    position: absolute;
    margin-top: 300px;
    margin-left: 100px;
    font-size: 3rem;
}

@media (max-width:1000px){
    .product-card {
        display: inline-block;
        background-color: rgb(212, 212, 212);
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        width: 270px;
        margin: 20px;
        height: 530px;
        transition: transform 0.3s;
    }
    .search-input{
        font-size: 10px;
    }
}
@media (max-width:850px){
	.product-card {
        display: inline-block;
        background-color: rgb(212, 212, 212);
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        width: 125px;
        margin: 10px;
        height: 330px;
        transition: transform 0.3s;
    }
    h2 {
        font-size: 1.5rem;
        margin-bottom: 20px;
        color: white;
    }
    .product-card h2 {
        font-size: 0.8em;
        margin-bottom: 10px;
        color: rgb(0, 0, 0);
    }
    .product-card p {
        font-size: 1.1em;
        margin-bottom: 00px;
        color: rgb(0, 0, 0);
    }
    .buy-button {
        display: inline-block;
        padding: 10px 20px;
        background-color: #28a745;
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 0.8rem;
        cursor: pointer;
        margin-top: 10px; 
        margin-bottom: 20px;
        max-width: 100px;
        transition: background-color 0.3s;
    }
    .modal-image {
        width: 150px; /* Задайте нужный размер изображения */
        height: 150px; /* Задайте нужный размер изображения */
        margin-right: 20px; /* Отступ между изображением и текстом */
        border-radius: 5px; /* Скругление углов изображения */
    }
    .modal-content {
        position: absolute;
        top: -100%;
        left: 50%;
        width: 300px;
        height: 300px;
        transform: translateX(-50%);
        background-color: #fff;
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transition: transform 0.5s ease;
        border-radius: 10px; /* Скругление углов */
    }
    .modal-content h2 {
        color: #1a1a1a;
        font-size: 1rem;
    }
    
    .modal-content h5 {
        color: #1a1a1a;
        font-size: 1rem;
    }
    .modal-content h3 {
        color: #1a1a1a;
        position: absolute;
        margin-top: 150px;
        margin-left: -140px;
        font-size: 1.5rem;
    }
    .modal-content h4 {
        color: #67796c;
    
        position: absolute;
        margin-top: 200px;
        margin-left: -140px;
        width: 150px;
        font-size: 2rem;
    }
    .hero {
        height: 30vh;
        width: 100%;
    }
    #productList{
        flex: 0 0 100%;                    /* Список товаров занимает 70% ширины */
        display: flex;           /* Используем flexbox для горизонтального выравнивания */
        flex-wrap: wrap;         /* Чтобы товары переносились на новую строку при нехватке места */
        gap: 10px;               /* Расстояние между карточками товаров */
        padding: 5px;                    /* Отступы для внутреннего содержимого */
    }
    .productsearchlist{
        display: none;
        position: absolute;
    }
    .productsearchlist2{
        display: block;

    }
}
/* Для мобильных устройств */
@media (max-width: 320px) {
    .productList {
      width: 100%; /* Занимаем всю ширину экрана */
      margin: 0; /* Убираем внешние отступы */
      padding: 0; /* Убираем внутренние отступы */
    }
  
    .product-card {
      width: 100%; /* Каждая карточка продукта также на всю ширину */
      margin: 0; /* Убираем внешние отступы между карточками */
      padding: 10px; /* Минимальный отступ внутри карточек для контента */
      box-sizing: border-box; /* Убедимся, что padding не увеличивает ширину */
      height: inherit;
    }
  }
  